version: '3.1'

services:

  adopt-port-1:
    build: .
    entrypoint: java -jar ~/docker-boxing-port.jar && tail -f /dev/null

  adopt-port-2:
    build: .
    entrypoint: java -jar ~/docker-boxing-port.jar && tail -f /dev/null
