version: 2
jobs:
  build:
    machine:
      image: ubuntu-2204:2023.04.2

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m

    steps:
      - checkout

      - run:
          name: Install SDK 25
          command: wget https://github.com/adoptium/temurin25-binaries/releases/download/jdk-25%2B36/OpenJDK25U-jdk_x64_linux_hotspot_25_36.tar.gz &&
            tar -xvf OpenJDK25U-jdk_x64_linux_hotspot_25_36.tar.gz &&
            sudo mv jdk-25*/ /opt/jdk25 &&
            export JAVA_HOME=/opt/jdk25 &&
            echo "export JAVA_HOME=/opt/jdk25" >> ~/.bashrc &&
            echo "export PATH=$JAVA_HOME/bin:$PATH" >> ~/.bashrc

      - run:
          name: Docker update
          command: export DOCKER_COMPOSE_VERSION=$(curl -s https://api.github.com/repos/docker/compose/releases/latest | grep 'tag_name' | cut -d\" -f4) &&
            DOCKER_CONFIG=${DOCKER_CONFIG:-$HOME/.docker} &&
            mkdir -p $DOCKER_CONFIG/cli-plugins &&
            curl -SL https://github.com/docker/compose/releases/download/$DOCKER_COMPOSE_VERSION/docker-compose-linux-x86_64 -o $DOCKER_CONFIG/cli-plugins/docker-compose &&
            chmod +x $DOCKER_CONFIG/cli-plugins/docker-compose &&
            docker-compose -v

      - run:
          name: Build
          command: ls -l &&
            ls /opt/jdk25 &&
            export JAVA_HOME=/opt/jdk25 &&
            docker-compose -v &&
            export PATH=$JAVA_HOME/bin:$PATH &&
            java -version &&
            mvn clean install -DskipTests

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}
